


{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-wrapper">

    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Lista de Subproyectos</h3>
            </div>

            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Inicio</a></li>
                    <li class="breadcrumb-item"><a
                            href="">Panel</a>
                    </li>
                    <li class="breadcrumb-item">Lista</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body row">
                        <div class="col-12 justify-content-center">
        
                            <div class="row d-flex justify-content-center">
        
                                <div>
                
                                    <h4 class="card-title"><span class="lstick m-r-20"></span><b>Lista de subproyectos</b></h4>
                                    <h6 class="card-subtitle"></span>filtro de proyecto</h6>
                                </div>
        
                            </div>
                            <form method="get" class="mb-4">
                                <div class="form-group">
                                    <label for="proyecto">Selecciona un proyecto:</label>
                                    <select id="proyecto" name="proyecto_id" class="form-control">
                                        
                                        {% for proyecto in proyectos %}
                                            <option value="{{ proyecto.id }}" {% if proyecto_seleccionado and proyecto.id == proyecto_seleccionado.id %}selected{% endif %}>{{ proyecto.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                            </form>

                            <hr>
        
                            {% if subproyectos %}
                            <table id="users" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Proyecto</th>
                                        <th>Nombre</th>
                                        <th>Dirección</th>
                                        <th>m2</th>
                                        <th>Precio de Venta</th>
                                        <th>Plano</th>
                                        <th>Observación</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 14px; font-weight: 400;">
                                    {% for subproyecto in subproyectos %}
                                    <tr>
                                    
                                        {% if subproyecto.estado == "DISPONIBLE" %}
    
                                        <td style="text-primary"><b>{{subproyecto.estado}}</b>
                                         </td>
    
                                         {% else %}
    
                                        <td style="color: rgb(237, 30, 11)"><b>{{subproyecto.estado}}</b>
                                        </td>

                                         {% endif %}     
                                        <td>{{ subproyecto.proyecto.nombre }}</td>
                                        <td>{{ subproyecto.nombre }}</td>
                                        <td>{{ subproyecto.direccion }}</td>
                                        <td>{{ subproyecto.m2 }}</td>
                                        <td>{{ subproyecto.precio_venta }}</td>
                                    
                                        <td style="text-align: center;"><a href="{{ subproyecto.plano.url }}" target="_blank"><i
                                            class="fa fa-file-pdf-o text-danger"></i></a></td>
                                        <td>{{ subproyecto.observacion }}</td>

                                        <td>
                                                        

                                            <a href="{% url 'proyectos:actualizar_subproyecto' subproyecto.pk %}">
                                                <i class="fa fa-edit" style="color: blue;"></i>
                                            </a> 

                                            <a href="{% url 'proyectos:eliminar_subproyecto' subproyecto.pk %}">
                                                <i class="fa fa-trash" style="color: red; margin-left: 5px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            {% else %}
                            <p>No hay subproyectos disponibles.</p>
                            {% endif %}
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .img-activo {
                margin-left: -10px;
                border: 2px solid #72BE53;
            }
    
            .img-desactivado {
                margin-left: -10px;
                border: 2px solid #BE5653;
            }
    
            #add {
                position: fixed;
                bottom: 60px;
                right: 20px;
                animation: scale 1.2s infinite;
            }
        </style>
    
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    
        <script>
            $(document).ready(function () {
                $('#users').DataTable({
                    "language": {
                        "lengthMenu": "Mostar _MENU_ documentos",
                        "zeroRecords": "Sin coincidencias",
                        "info": "Pagina _PAGE_ de _PAGES_",
                        "infoEmpty": "Sin registros disponibles",
                        "infoFiltered": "(filtrado de _MAX_ registros totales)",
                        "search": "Buscar"
                    },
    
                    "ordering": false,
                    "info": false,
                    "paging": false,
                });
            });
        </script>
    </div>

    <a id="add" href="{% url 'proyectos:crear_subproyecto' %}" data-toggle="tooltip" data-placement="left" title="Crear nuevo subproyecto" class="btn btn-info btn-circle fa fa-plus"></a>

   

    <!-- Termina accesos directos -->

    <a href="" style="text-decoration: none;">
        <footer class="footer">© Link-P</footer>
    </a>
    </div>
</div>


{% endblock %}