{% extends "base.html" %}

{% load static %}
{% load tags_extras %}


{% block content %}

<div class="page-wrapper">

    <!-- empieza accesos directos -->

    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Lista de Compras en la Web</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="">Panel</a></li>
                    <li class="breadcrumb-item">Compras Web</li>
                </ol>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-11">
                                <h4 class="card-title"><span class="lstick m-r-20"></span>Compras Web</h4>
                            </div>

                        </div>

                        <div class="table-responsive">
                            <table id="users" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                                <thead>
                                    <tr>
                                        <th>DNI</th>
                                        <th>NOMBRES</th>
                                        <th>APELLIDOS</th>
                                        <th>TELEFONO </th>
                                        <th>EMAIL</th>
                                        <th>DIRECCION</th>
                                        <th>TERRENOS SEPARADOS</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>

                                <tbody style="font-size: 14px; font-weight: 400;">
                                    {% for i in web %}
                                    <tr>
                                        <td>{{ i.dni }}</td>
                                        <td>{{ i.nombres }}</td>
                                        <td>{{ i.apellidos }}</td>
                                        <td>{{ i.telefono }}</td>
                                        <td>{{ i.email }}</td>
                                        <td>{{ i.direccion }}</td>
                                        <td>{{ i.terrenos }}</td>
                                        <td>Acciones</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <a id="add" href="{% url 'web:separarLote' %}" data-toggle="tooltip" data-placement="left"
        title="Crear nuevo proyecto" class="btn btn-info btn-circle fa fa-plus"></a>



    <style>
        .img-activo {
            margin-left: -10px;
            border: 2px solid #72BE53;
        }

        .img-desactivado {
            margin-left: -10px;
            border: 2px solid #BE5653;
        }

        #add {
            position: fixed;
            bottom: 60px;
            right: 20px;
            animation: scale 1.2s infinite;

        }
    </style>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script>
        $(document).ready(function () {
            $('#users').DataTable({
                "language": {
                    "lengthMenu": "Mostar _MENU_ documentos",
                    "zeroRecords": "Sin coincidencias",
                    "info": "Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar"
                },

                "ordering": false,
                "info": false,
                "paging": false,
            });
        });


    </script>

    <!-- termina accesos directos -->



    <a href="" style="text-decoration: none;">
        <footer class="footer">© Link-P</footer>
    </a>




</div>



{% endblock content %}